/* NAV */

.navContainer {
  margin: 40px;
  margin-bottom: 50px;
}

.navUL {
  margin-left: 20px;
  display: inline;
  list-style-type: none;
  text-decoration: none;
}

.navLI {
  display: inline;
}

.link {
  font-family: Avenir;
  font-size: 12pt;
  text-decoration: none;
  color: black;
  vertical-align: 16px;
}

/* SIDENAV */

.sideNavContainer {
  float: left;
  width: 200px;
  height: 200vh;
  margin: 0;
  padding: 0;
}

.sideNavLI {
  display: block;
  list-style-type: none;
  text-decoration: none;
}

.sideNavTitle {
  font-size: 10pt;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 15px;
}

.sidelink {
  font-family: Avenir;
  font-size: 10pt;
  font-weight: bold;
  text-decoration: none;
  color: black;
  vertical-align: 15px;
}


/* ITEMS */

.items {
  margin-left: 250px;
  display: inline;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.center {
  margin: 25px;
  margin-top: 0;
  flex-grow: 1;
  display: inline-block;
  min-width: 250px;
  max-width: 400px;
  padding: 10px;
}