html,body { height:100%; }

/* NAV */

.navContainer {
  margin: 40px;
  margin-bottom: 50px;
}

.navUL {
  margin-left: 20px;
  display: inline;
  list-style-type: none;
  text-decoration: none;
}

.navLI {
  display: inline;
}

.link {
  font-family: Avenir;
  font-size: 12pt;
  text-decoration: none;
  color: black;
  vertical-align: 16px;
}

/* SIDENAV */

.sideNavContainer {
  float: left;
  width: 200px;
  height: 140vh;
  margin: 0;
  padding: 0;
}

.sideNavLI {
  display: block;
  list-style-type: none;
  text-decoration: none;
  margin-top: 25px;
}

.sideNavTitle {
  font-size: 10pt;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 15px;
}

.sidelink {
  font-family: Avenir;
  font-size: 10pt;
  font-weight: bold;
  text-decoration: none;
  color: black;
  vertical-align: 15px;
}

.sideSubLink {
  font-family: Avenir;
  font-size: 10pt;
  text-decoration: none;
  color: black;
  vertical-align: 15px;
  /* margin-left: 10px; */
}

.sideLI{
  display: block;
  list-style-type: none;
  text-decoration: none;
}

/* ITEMS */

.items {
  margin-left: 250px;
  display: inline;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.center {
  margin: 25px;
  margin-top: 0;
  flex-grow: 1;
  display: inline-block;
  min-width: 250px;
  max-width: 400px;
  padding: 10px;
  text-align: center;
  font-family: Avenir;
  font-size: 10pt;
}

.itemTitle {
  padding-top: 5px;
  font-weight: bold;
}

.itemLink {
  text-decoration: none;
  color: black;
}

/* DETAILS */

.details {
  display: flex;
  margin-left: 230px;
}

.itemInfo {
  margin-left: 50px;
  font-family: Avenir;
  font-size: 10pt;
}

.description {
  font-family: Avenir;
  font-size: 12pt;
  font-weight: bold;
}

.reviews {
  font-family: Avenir;
  font-size: 10pt;
}

.reviewLink {
  color: black;
}

/* New Arrivals */

.newArrivals {
  max-height: 100vh;
}

/* All Sellers */

.allsellers {
  margin-left: 230px;
  font-family: Avenir;
  font-size: 12pt;
  font-weight: bold;
  color: black;
}

.sellers {
  margin-left: 230px;
  font-family: Avenir;
  font-size: 12pt;
  color: black;
}

.sellerName {
  font-family: Avenir;
  font-size: 12pt;
  font-weight: bold;
  color: black;
}

.sellersLink {
  font-family: Avenir;
  font-size: 12pt;
  color: black;
}