ul {
  list-style-type: none;
}

.loginContainer {
  height: 100%;
  margin-top: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  padding: 20px;
}

.signup {
  padding: 20px;
}