
body {
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #ffdbd9;
  margin: 0;
  padding: 0;
  min-width: 800px;
}

.topBanner {
  width: 100%;
  height: 15vh;
  text-align: center;
  vertical-align: middle;
  line-height: 19vh;
  font-weight: bold;
  background-color: #ff736a;
}

.changeChat {
  padding: 2%;
  min-width: 250px;
  width: 25%;
  height: 110vh;
  float: left;
  background-color: #fff5f5;
}

.button {
  color: #6d5958;
  display: block;
  width: 230px;
  height: 45px;
  padding: 15px;
  padding-left: 55px;
  margin-right: 30%;
  background-color: transparent; 
  font-size: 10pt;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  line-height: 10px;
  border: none;
  outline: 0;
  margin-bottom: 0;
  text-align: left;
}

.bob {
  background: url('bob.png');
  background-repeat: no-repeat;
  margin: 15px;
  margin-bottom: 5px;
}

.fred {
  background: url('fred.png');
  background-repeat: no-repeat;
  margin: 15px;
  margin-bottom: 5px;
}

.user {
  line-height: 2vh;
  width: 200px;
  padding: 15px;
  font-size: 10pt;
}

.userButton {
  font-size: 9pt;
  letter-spacing: 1px;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold; 
  background-color: #d6544c;
  width: 235px;
  height: 50px;
  outline: 0;
  margin-bottom: 30px;
}

.userInput {
  padding-left: 10px;
  font-size: 15pt;
  color: #6d5958;
  margin-bottom: 25px;
  width: 220px;
  height: 40px;
  border: none;
  outline: 0;
}

.chat1 {
  min-width: 500px;
  display: flex;
  justify-content: center;
  height: 71vh;
  overflow: scroll;
}

.chat2 {
  min-width: 500px;
  display: flex;
  justify-content: center;
  height: 71vh;
  overflow: scroll;
}

.form {
  padding: 15px;
  margin: 22px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.chatText {
  font-size: 14pt;
  padding: 20px;
  margin-top: 20px;
  margin: 14px;
  margin-right: -2px;
  width: 325px;
  min-width: 300px;
  background: white;
  height: 20px;
  border: none;
  /* border: 2px solid #b894be; */
  outline: 0;
}

.chatButton { 
  position: fixed;
  background-image: url('enter.png');
  background-repeat: no-repeat;
  /* padding: px; */
  margin-top: 13px;
  width: 66px;
  height: 62px;
  background-color: #d6544c;
  outline: 0;
}

li {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 14pt;
  color: #d8674a;
  min-width: 400px;
  width: 400px;
  height: 25px;
  background-color: #fee8e7;
  padding: 15px;
  padding-left: 25px;
  margin: 5px;
  margin-bottom: 15px;
  border-radius: 25px;
  overflow: hidden;
}

h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: lighter;
  color: #d8674a;
  font-size: 25pt;
  line-height: 0px;
}

.bold {
  margin: none;
  padding: none;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  font-size: 10pt;
  font-weight: 600;
  background: none;
}

p {
  color: #6d5958;
  margin: none;
  padding: none;
}

hr {
  width: 230px;
  float: left;
  margin-left: 15px;
  border: 1px solid #ffdbd9;
  margin-bottom: 17px;
  margin-top: 15px;
}

.plus {
 float: right;
 text-align: right;
 color: #d8674a;
 font-weight: bold;
}